In [122]:
import seaborn as sns
df = sns.load_dataset('tips')

In [124]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

# Feature Engineering

In [129]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [131]:
# Independent and Dependent Features
x = df[['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']]
y = df['total_bill']

In [133]:
# Train Test Split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [135]:
x_train.head()

     total_bill  tip     sex smoker   day    time  size
236       12.60  1.0    Male    Yes   Sat  Dinner     2
169       10.63  2.0  Female    Yes   Sat  Dinner     2
78        22.76  3.0    Male     No  Thur   Lunch     2
47        32.40  6.0    Male     No   Sun  Dinner     4
194       16.58  4.0    Male    Yes  Thur   Lunch     2

In [137]:
x_test

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
243       18.78  3.00  Female     No  Thur  Dinner     2
206       26.59  3.41    Male    Yes   Sat  Dinner     3
122       14.26  2.50    Male     No  Thur   Lunch     2
89        21.16  3.00    Male     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
185       20.69  5.00    Male     No   Sun  Dinner     5
28        21.70  4.30    Male     No   Sat  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
148        9.78  1.73    Male     No  Thur   Lunch     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2

[61 rows x 7 columns]

In [139]:
# Feature Encoding (Label Encoding and Onehot Encoding)

In [141]:
from sklearn.preprocessing import LabelEncoder

In [143]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [145]:
import warnings
warnings.filterwarnings('ignore')
x_train['sex']=le1.fit_transform(x_train['sex'])
x_train['smoker']=le2.fit_transform(x_train['smoker'])
x_train['time']=le3.fit_transform(x_train['time'])

In [147]:
x_train.head()

     total_bill  tip  sex  smoker   day  time  size
236       12.60  1.0    1       1   Sat     0     2
169       10.63  2.0    0       1   Sat     0     2
78        22.76  3.0    1       0  Thur     1     2
47        32.40  6.0    1       0   Sun     0     4
194       16.58  4.0    1       1  Thur     1     2

In [149]:
x_test['sex'] = le1.transform(x_test['sex'])
x_test['smoker'] = le2.transform(x_test['smoker'])
x_test['time'] = le3.transform(x_test['time'])

In [151]:
x_test.head()

     total_bill   tip  sex  smoker   day  time  size
67         3.07  1.00    0       1   Sat     0     1
243       18.78  3.00    0       0  Thur     0     2
206       26.59  3.41    1       1   Sat     0     3
122       14.26  2.50    1       0  Thur     1     2
89        21.16  3.00    1       0  Thur     1     2

In [153]:
# OneHotEncoding -- Column Transformer

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [155]:
ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(drop='first'),[3])],
                                    remainder='passthrough')

In [157]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)
x_train = ct.fit_transform(x_train)

In [159]:
x_test = ct.transform(x_test)

In [161]:
x_test

array([[1.0, 3.07, 1.0, 0, 'Sat', 0, 1],
       [0.0, 18.78, 3.0, 0, 'Thur', 0, 2],
       [1.0, 26.59, 3.41, 1, 'Sat', 0, 3],
       [0.0, 14.26, 2.5, 1, 'Thur', 1, 2],
       [0.0, 21.16, 3.0, 1, 'Thur', 1, 2],
       [1.0, 7.74, 1.44, 1, 'Sat', 0, 2],
       [1.0, 11.24, 1.76, 1, 'Sat', 0, 2],
       [1.0, 20.9, 3.5, 0, 'Sun', 0, 3],
       [1.0, 14.48, 2.0, 1, 'Sun', 0, 2],
       [0.0, 24.59, 3.61, 0, 'Sun', 0, 4],
       [1.0, 12.16, 2.2, 1, 'Fri', 1, 2],
       [1.0, 10.09, 2.0, 0, 'Fri', 1, 2],
       [0.0, 29.93, 5.07, 1, 'Sun', 0, 4],
       [1.0, 25.21, 4.29, 1, 'Sat', 0, 2],
       [1.0, 50.81, 10.0, 1, 'Sat', 0, 3],
       [1.0, 22.67, 2.0, 1, 'Sat', 0, 2],
       [1.0, 23.33, 5.65, 1, 'Sun', 0, 2],
       [0.0, 10.29, 2.6, 0, 'Sun', 0, 2],
       [0.0, 12.69, 2.0, 1, 'Sat', 0, 2],
       [1.0, 27.18, 2.0, 0, 'Sat', 0, 2],
       [1.0, 30.14, 3.09, 0, 'Sat', 0, 4],
       [0.0, 17.78, 3.27, 1, 'Sat', 0, 2],
       [1.0, 16.32, 4.3, 0, 'Fri', 0, 2],
       [1.0, 23.17, 6.5, 1, 'Sun', 0, 4],
       [0.0, 12.43, 1.8, 0, 'Thur', 1, 2],
       [0.0, 10.65, 1.5, 0, 'Thur', 1, 2],
       [1.0, 20.49, 4.06, 1, 'Sat', 0, 2],
       [1.0, 25.28, 5.0, 0, 'Sat', 0, 2],
       [0.0, 18.69, 2.31, 1, 'Sat', 0, 3],
       [1.0, 30.06, 2.0, 1, 'Sat', 0, 3],
       [1.0, 13.0, 2.0, 0, 'Thur', 1, 2],
       [0.0, 30.4, 5.6, 1, 'Sun', 0, 4],
       [1.0, 11.02, 1.98, 1, 'Sat', 0, 2],
       [0.0, 35.83, 4.67, 0, 'Sat', 0, 3],
       [0.0, 34.83, 5.17, 0, 'Thur', 1, 4],
       [1.0, 13.42, 1.58, 1, 'Fri', 1, 2],
       [0.0, 31.27, 5.0, 1, 'Sat', 0, 3],
       [0.0, 18.35, 2.5, 1, 'Sat', 0, 4],
       [0.0, 16.97, 3.5, 0, 'Sun', 0, 3],
       [0.0, 11.17, 1.5, 0, 'Thur', 1, 2],
       [0.0, 24.08, 2.92, 0, 'Thur', 1, 4],
       [0.0, 20.65, 3.35, 1, 'Sat', 0, 3],
       [0.0, 22.49, 3.5, 1, 'Fri', 0, 2],
       [1.0, 15.01, 2.09, 1, 'Sat', 0, 2],
       [0.0, 20.69, 2.45, 0, 'Sat', 0, 4],
       [1.0, 28.97, 3.0, 1, 'Fri', 0, 2],
       [0.0, 24.06, 3.6, 1, 'Sat', 0, 3],
       [0.0, 35.26, 5.0, 0, 'Sun', 0, 4],
       [0.0, 19.65, 3.0, 0, 'Sat', 0, 2],
       [0.0, 16.99, 1.01, 0, 'Sun', 0, 2],
       [0.0, 19.77, 2.0, 1, 'Sun', 0, 4],
       [0.0, 31.71, 4.5, 1, 'Sun', 0, 4],
       [0.0, 14.0, 3.0, 1, 'Sat', 0, 2],
       [1.0, 16.27, 2.5, 0, 'Fri', 1, 2],
       [0.0, 7.56, 1.44, 1, 'Thur', 1, 2],
       [1.0, 40.55, 3.0, 1, 'Sun', 0, 2],
       [0.0, 20.69, 5.0, 1, 'Sun', 0, 5],
       [0.0, 21.7, 4.3, 1, 'Sat', 0, 2],
       [0.0, 10.33, 1.67, 0, 'Sun', 0, 3],
       [0.0, 9.78, 1.73, 1, 'Thur', 1, 2],
       [1.0, 32.83, 1.17, 1, 'Sat', 0, 2]], dtype=object)

# SVR - Support Vector Regressor

In [164]:
from sklearn.svm import SVR
svr = SVR()

In [166]:
svr.fit(x_train, y_train)

ValueError: could not convert string to float: 'Sat'